In [1]:
import pandas as pd
import numpy as np
import seaborn
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder

In [2]:
%matplotlib inline

In [3]:
#https://www.kaggle.com/wenruliu/adult-income-dataset
df = pd.read_csv("adult_income.csv")

In [4]:
df = df.drop(labels = ["fnlwgt", "educational-num", "capital-gain", "capital-loss"], axis=1)

In [5]:
df.head(10)

,age,workclass,education,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,>50K
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K
4,18,?,Some-college,Never-married,?,Own-child,White,Female,30,United-States,<=50K
5,34,Private,10th,Never-married,Other-service,Not-in-family,White,Male,30,United-States,<=50K
6,29,?,HS-grad,Never-married,?,Unmarried,Black,Male,40,United-States,<=50K
7,63,Self-emp-not-inc,Prof-school,Married-civ-spouse,Prof-specialty,Husband,White,Male,32,United-States,>50K
8,24,Private,Some-college,Never-married,Other-service,Unmarried,White,Female,40,United-States,<=50K
9,55,Private,7th-8th,Married-civ-spouse,Craft-repair,Husband,White,Male,10,United-States,<=50K

In [6]:
model = KNeighborsClassifier(n_neighbors = 10)

In [7]:
target = df["income"]

In [8]:
df = df.drop(labels = ["income"], axis = 1)

In [9]:
classes = {"workclass" : ["?","Federal-gov","Local-gov","Never-worked", "Private", "Self-emp-inc",
           "Self-emp-not-inc","State-gov","Without-pay"],
           
           "education" : ["10th","11th","12th","1st-4th","5th-6th","7th-8th","9th","Assoc-acdm","Assoc-voc",
           "Bachelors","Doctorate","HS-grad","Masters","Preschool","Prof-school","Some-college"],
          
           "marital-status" : ["Divorced","Married-AF-spouse","Married-civ-spouse","Married-spouse-absent",
           "Never-married","Separated","Widowed"],
           
           "occupation" : ["?","Adm-clerical", "Armed-Forces","Craft-repair","Exec-managerial",
           "Farming-fishing","Handlers-cleaners","Machine-op-inspct","Other-service","Priv-house-serv",
           "Prof-specialty", "Protective-serv","Sales", "Tech-support","Transport-moving"],
        
           "relationship": ['Wife', 'Other-relative', 'Unmarried', 'Husband', 'Own-child', 'Not-in-family'],
          
           "race": ["Amer-Indian-Eskimo","Asian-Pac-Islander", "Black","Other","White"],
           
           "gender": ["Female","Male"],
           
           "native country": ["?","Cambodia", "Canada", "China", "Columbia", "Cuba","Dominican-Republic","Ecuador","El-Salvador",
           "England", 'France', 'Germany', 'Greece', 'Guatemala', 'Haiti',
           'Holand-Netherlands', 'Honduras', 'Hong', 'Hungary', 'India',
           'Iran', 'Ireland', 'Italy', 'Jamaica', 'Japan', 'Laos', 'Mexico',
           'Nicaragua', 'Outlying-US(Guam-USVI-etc)', 'Peru', 'Philippines',
           'Poland', 'Portugal', 'Puerto-Rico', 'Scotland', 'South', 'Taiwan',
           'Thailand', 'Trinadad&Tobago', 'United-States', 'Vietnam',
            'Yugoslavia'], 
           
          "hours-per-week": [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
            69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87,
            88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99],
           
         "age" : [17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
            85, 86, 87, 88, 89, 90]}

In [11]:
categories = [classes["age"],classes["workclass"], classes["education"], classes["marital-status"],
              classes["occupation"], classes["relationship"], classes["race"],
              classes["gender"], classes["hours-per-week"], classes["native country"]]

In [12]:
encoder = OneHotEncoder(categories=categories)

In [13]:
dummy_data = encoder.fit_transform(df)

In [14]:
model.fit(dummy_data, target)

KNeighborsClassifier(n_neighbors=10)

In [15]:
model.score(dummy_data, target)

0.8526268375578395